{% extends "base.html" %}
{% block content %}

<h1 class="text text-title"> Adicionar cards </h1>
<div class="center">

{% if mensagem %}
    <p class="text text-small" >{{ mensagem }}</p>
    </br>
{% endif %}


<form method="post" action="{{ url_for('add') }}" enctype="multipart/form-data">
    
    <div>
        <label class="text">Pergunta </br>
            <input class="formbox" type="text" name="pergunta" id="pergunta" />
        </label> </br><br>

        <label class="text" >Resposta </br>
            <textarea class="formbox-text" name="resposta" id="resposta"></textarea>
        </label> </br>
    </div>

    <input class="btn btn-green" type="submit" value="Adicionar" />
</form>

</br><br>

<a class="btn btn-orange" href='{{ url_for('download_file') }}'>Finalizar</a>
</div>

{% endblock content %}


