{% extends "base.html" %}
{% block content %}

<div class="center">
<h2 class="text text-title"> Adicionar Cards </h2>

{% if mensagem %}
    <p class="text text-small" >{{ mensagem }}</p>
    </br>
{% endif %}


<form method="post" action="{{ url_for('add') }}" enctype="multipart/form-data">
    
    <div>
        <label class="text">Pergunta </br>
            <input class="formbox" type="text" name="pergunta" id="pergunta" />
        </label> </br>

        <label class="text" >Resposta </br>
            <input class="formbox" type="text" name="resposta" id="resposta" />
        </label> </br>
    </div>

    <input class="btn btn-green" type="submit" value="Adicionar" />
</form>

</br>

<a class="btn btn-green" href='{{ url_for('download_file') }}'>Finalizar</a>
</div>

{% endblock content %}