<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{title or "Flashcard App"}} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <div class="topo">
        <div class="cabecalho">
            <h1 class="titulo">
                <a title="Ir para o início" id="limpalink" href="{{ url_for('index') }}">
                Flashcard App! </a></h1>
            <p class="contato" title="Acessar o código fonte" >
                <a href="https://github.com/eliass95/flashcards-app" target="_blank">
                Source code </a></p>
        </div>
    </div>

    <div class="conteudo">
        {% block content %} {% endblock %}
    </div>


    <footer>    
        <div class="rodape">
            <p><a href="https://github.com/eliass95" target="_blank"> &copy; Criado por Elias Soares - 2016 </a></p>
        </div>
    </footer>


    <script>
        $('.card').click(function (e) {
            $(this).toggleClass('flipped');
        });
    
        window.location = "#item-1";
    </script>

</body>

</html>