{% extends "base.html" %}
{% block content %}
<h1 class="text text-title"> Criar novos cards </h1>
<div class="center">
    <form method="post" action="/createcards" enctype="multipart/form-data">
        <label class="text text-title">Titulo <br /><br>
        <input class="formbox" type="text" name="titulo" id="titulo"/>
    </label>
        <input class="hide" type="text" name="filename" id="filename" value={{randname}} />

        <input class="btn btn-green" type="submit" value="Criar"/>

    </form>
</div>
{% endblock content %}