{% extends "base.html" %} {% block content %}
<h1 class="text text-title"> {{ titulo }} </h1>
<div class="center">

    {% for item in cards[1:] %}

        <div class="item" id="item-{{ cards.index(item) }}">
            <div class="seta"> 
                {% if cards.index(item) - 1 == 0 %}
                    <a href="#item-{{ num_itens - 1 }}">
                {% else %}
                    <a href="#item-{{ cards.index(item) - 1 }}">
                {% endif %}
                <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i> </a>
            </div>

            <div class="card">
                <div class="front">
                    <p class="text text-card">{{ item.pergunta }}</p>
                </div>

                <div class="back">
                    <p class="text text-card">{{ item.resposta }}</p>
                </div>
            </div>

            <div class="seta"> 
                {% if cards.index(item) + 1 >= num_itens %}
                    <a href="#item-{{ 1 }}">
                {% else %}
                    <a href="#item-{{ cards.index(item) + 1 }}">
                {% endif %}
                <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i> </a>
            </div>
        </div>

    {% endfor %}


    <script>
        $('.card').click(function (e) {
            $(this).toggleClass('flipped');
        });
    
        window.location = "#item-1";
    </script>

</div>
{% endblock content %}